doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap.min.css')
        script(src="node_modules/jquery/dist/jquery.min.js")
        script(src="node_modules/bootstrap/dist/js/bootstrap.min.js")
        script(src="node_modules/angular/angular.min.js")
        script(src="node_modules/angular-ui-router/release/angular-ui-router.min.js")
        base(href="/")



    body(ng-app="chatApp")
        nav(class="navbar navbar-inverse navbar-fixed-top")
            div(class="container")
                div(class="navbar-header")
                    a(href="#" class="navbar-brand") Chat project


        div(style="padding-top: 60px" ng-controller="chatCtrl")
            section(ui-view)

        script(src="javascripts/app.js")
