doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap.min.css')
        script(src="node_modules/jquery/dist/jquery.min.js")
        script(src="node_modules/bootstrap/dist/js/bootstrap.min.js")
        script(src="node_modules/angular/angular.min.js")
        script(src="node_modules/angular-ui-router/release/angular-ui-router.min.js")




    body(ng-app="testApp")
        nav(class="navbar navbar-inverse navbar-fixed-top")
            div(class="container")
                div(class="navbar-header")
                    a(href="#" class="navbar-brand") Project
                div(class="collapse navbar-collapse")
                    ul(class="nav navbar-nav")
                        li
                            a(ui-sref="contacts" href="#") Contacts
                        li
                            a(ui-sref="messages" href="#") Messages

        div(style="padding-top: 60px" ng-controller="testCtrl")
            h1 {{ message }}
            a(href="#" ui-sref="message({name: 'dima'})") Contact of Dima
            section(ui-view)
        script(src="javascripts/app.js")
