extends layout

block content
    div(ng-controller="userCtrl")
        div.well
            h1 Пользователи

            table.table
                thead
                    tr
                        th #
                        th Логин
                        th ФИО
                        th email
                        th Инфо
                        th Женат?
                        th Родился
                tbody
                    tr(ng-repeat="u in users"  ng-click="edit(u.id)") 
                        th {{ u.id }}
                        td {{ u.name }}
                        td {{ u.fio }}
                        td {{ u.email }}
                        td {{ u.about }}
                        td {{ u.is_married }}
                        td {{ u.date }}
                        td
                            a.blue-text
                                i(class="glyphicon glyphicon-pencil" ng-click="edit(u.id)")
                            a.teal-text
                                i(class="glyphicon glyphicon-remove-sign" ng-click="remove(u.id)")

        div.well
            form.form-horizontal
                div.form-group
                    label(class="control-label col-sm-2") Логин
                    div.col-sm-10
                        input.form-control(ng-model="user.name")

                div.form-group
                    label(class="control-label col-sm-2") email
                    div.col-sm-10
                        input.form-control(ng-model="user.email")

                div.form-group
                    label(class="control-label col-sm-2") about
                    div.col-sm-10
                        textarea.form-control(ng-model="user.about")

                div.form-group
                    label(class="control-label col-sm-2") about
                    div.col-sm-10
                        input.form-control(type="checkbox" ng-model="user.is_married")

                div.form-group
                    label(class="control-label col-sm-2") Родился
                    div.col-sm-10
                        input.form-control(ng-model="user.date" id="date")

                div.form-group
                    label(class="control-label col-sm-2") Фото
                    div.col-sm-10
                        input.form-control(ng-model="user.image" type="file")
