doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap.min.css')
        script(src="node_modules/jquery/dist/jquery.min.js")
        script(src="node_modules/bootstrap/dist/js/bootstrap.min.js")
        script(src="node_modules/angular/angular.min.js")
        script(src="node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")


    body(ng-app="pupilApp")
        nav(class="navbar navbar-inverse navbar-fixed-top")
            div(class="container")
                div(class="navbar-header")
                    a(href="#" class="navbar-brand") Project
                div(class="collapse navbar-collapse")
                    ul(class="nav navbar-nav")
                        li
                            a(href="#") Home
                        li
                            a(href="#") Pages

        div(style="padding-top: 60px")
            block content
        script(src="javascripts/app.js")
        script(src="javascripts/ctrl.js")
        script(src="javascripts/model.js")
        script $('#date').datepicker({});
