		<nav class="navbar navbar-default">
         <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li ui-sref-active="active"><a ui-sref="chat.index" href="#">Home</a></li>
              <li ui-sref-active="active"><a ui-sref="chat.history">History</a></li>

            </ul>
          </div><!--/.nav-collapse -->
        </nav>


<div class="container">

  <div class="row">

        <div ui-view="user-online"></div>

        <div ui-view></div>

  </div>



</div>
