<!-- index.html -->
    <!DOCTYPE html>
    <html>
    <head>
      
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>

    </head>
    <body>

        <div ng-app="myApp" class="container">
           <div ng-controller="testCtrl">
                
               <h1 style="color: red">Test page</h1>
               <h2>{{ message }}</h2>

               <input ng-model="myname">
               <button ng-click="update_by_factory()"> Fire from factory! </button>
               <button ng-click="update_by_service()"> Fire from service! </button>

              <h2>{{ myname }}</h2>


           </div>
        </div>

        </div>
       <script src="app4.js"></script>
    </body>
    </html>


