<html>
<head>
    <meta charset="utf-8">
    <script src="http://code.angularjs.org/1.6.2/angular.js"></script>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    
    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>    
    
<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js" ></script>        
    
<script src="node_modules/angular-animate/angular-animate.min.js" ></script>      
    

    
    
   
    
</head>
<body ng-app="myApp" ng-controller="testCtrl">
 
 
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container well" style="margin-top: 60px">
    
        <h1> Hello!! </h1>
        
        
          <uib-accordion close-others="oneAtATime">

            <div uib-accordion-group class="panel-danger" heading="Delete account">
              <p>Please, to delete your account, click the button below</p>
              <button class="btn btn-danger">Delete</button>
            </div>
            <div uib-accordion-group class="panel-default" is-open="status.open">
              <uib-accordion-heading>
                I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </uib-accordion-heading>
              This is just some content to illustrate fancy headings.
            </div>
          </uib-accordion>
</div>


    
    </div> 
    
    
    <div class="well"> 
    
    
    
    
<div uib-alert ng-class="alert-danger" close="closeAlert($index)">Hello </div>


<div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>


    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>
      
      
      
    <script type="text/ng-template" id="mmm.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
                Hi
        </div>
    </script>      
      
      
     <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>  

    </div>
    
<script type="text/javascript">
        
        app = angular.module('myApp',['ngAnimate','ui.bootstrap'])
        .controller('testCtrl',function($scope,$uibModal){
            
            $scope.items = ['uno', 'quadro']
            
            $scope.open = function(){
                var modalInstance = $uibModal.open({
                      templateUrl: 'mmm.html',
                      controller: function(){},
                      //size: size,
                      //appendTo: parentElem,
                      //resolve: {
                      //  items: function () {
                      //   return $ctrl.items;
                      //  }
                      }
                 );               
            };
            
            var slides = $scope.slides = [];
          
              $scope.addSlide = function(i) {
                slides.push({
                  image: 'images/' + i + '.jpg',
                  text: 'Nice image '+i,
                  id: i
                });
              };            
            
            for (var i = 0; i < 4; i++) {
                $scope.addSlide(i);
            }
              
  

        })
    ;  
</script>
    
</body>
</html>
